
# Dependencies & temporary files
node_modules/
scratch/
.env.local

# InsForge & AI agent skills
.insforge
.agent
.agents
.augment
.claude
.cline
.github/copilot*
.kilocode
.qoder
.qwen
.roo
.trae
.windsurf

